<!doctype html>
    <html lang="en">
    <head>
        <title>Components - Navigation</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- This is where you put your google font in if applicable -->
     <!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

     <link rel="stylesheet" href="../css/style.css">
     <link  rel="stylesheet"  href="../css/prism.css"/>
     <link rel="stylesheet" href="https://use.typekit.net/ztw2eju.css">
     <link rel="icon" type="image/png" href="../img/favicon.png" />

 </head>
 <body>

    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">

            <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
    <div class="p-4 pt-6">
        <h1><a href="../index.html" class="logo"><img src="../img/rijalogo.png" alt="Rija Aamir Logo"/></a></h1>

        <ul class="list-unstyled components">

         <li class="active">
           <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>

           <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="../foundation/type.html">Typography</a>
              </li>
              <li>
                  <a href="../foundation/color.html">Color</a>
              </li>
              <li>
                  <a href="../foundation/logo.html">Logo</a>
              </li>
          </ul>
      </li>

      <li>
          <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
          <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
             <li>
                <a href="#">Navigation</a>
            </li>
            <li>
                <a href="buttons.html">Buttons</a>
            </li>
            <li>
                <a href="cards.html">Cards</a>
            </li>
            <li>
                <a href="steps.html">Process Steps</a>
            </li>
        </ul>
    </li>

    <li>
      <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
      <ul class="collapse list-unstyled" id="PatternsSubmenu">
       <li>
        <a href="../patterns/pattern1.html">Homepage Pattern</a>
    </li>
    <li>
        <a href="../patterns/pattern2.html">Project Page Patternn</a>
    </li>

</ul>
</li>


</ul> 




</div>
</nav>

<!-- Page Content  -->
<div class = "container">
  <div class = "row p-5 pt-6">
    <div id="content">

      <h2 class="headingtype">Navigation</h2>
      <p class="paragraphtype">The Nagivation Bar is an essential component in the design system. The Nav bar is used for all nagivation through the website and is repsonsive to screen size. </p>

      <h3 class="headingtype2"> Example </h3>
      <p class="paragraphtype"> This example of navigation is responsive. Adjust the screen size to demonstrate the responsive behaviors.</p>
      <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light navshadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../img/rijalogo.png" width="110" class="d-inline-block align-top" alt="Rija Aamir Logo"></a>
                        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end nav-bg" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active navtext" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navtext" href="#">Project</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navtext" href="#">Resume</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navtext" href="#">Contact</a>
                                </li>               
                            </ul>
                        </div>
                    </div>
                </nav>


            </div>
        </div>

        <h4 class="subheadingtype2"> Accessibility </h4>
        <p class="paragraphtype">The navigation bar is made to be responsive using Bootstrap; it should collapse into the hamburger menu at the medium breaking point (for best accessibility on tablet and mobile).Ensure accessibility by using a <code>&lt;nav&gt;</code> element or, if using a more generic element such as a <code>&lt;div&gt;</code>, add a role="navigation" to every navbar to identify it as a landmark region for users using assistive technologies. </p>
        <p class="paragraphtype">Also include ARIA tags: <code>aria-expanded="[true or false]"</code> and <code>aria-current="page"</code> to help assistive technologies recognize which pages are active and which menus are expanded.</p>
        <h4 class="subheadingtype2">Usage</h4>
        <p class="paragraphtype">Use responsive navigation bar on all pages. </p>
        <h4 class="subheadingtype2">Best Practices</h4>
        <ul class="paragraphtype">
            <li>Ensure the logo image is a clickable that link directs users to the Home page</li>
            <li>Begin links with Home page link</li>
            <li>Order links from most important to least important</li>
            <li>Differentiate current page with bolder text and underline</li>
        </ul>   

        <h4 class="subheadingtype2">Code</h4>


        <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->

            <pre class="language-markup scrollable"><code>
              &lt;div class="row"&gt;
              &lt;div class="row"&gt;
              &lt;div class="col"&gt;
              &lt;nav class="navbar navbar-expand-lg navbar-light navshadow"&gt;
              &lt;div class="container-fluid"&gt;
              &lt;a class="navbar-brand" href="#"&gt;
              &lt;img src="../img/rijatextlogo.png" width="90" class="d-inline-block align-top" alt="Rija Aamir Logo"&gt;&lt;/a&gt;
              &lt;button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"&gt;
              &lt;span class="navbar-toggler-icon">&lt;/span&gt;
              &lt;/button&gt;
              &lt;div class="collapse navbar-collapse justify-content-end nav-bg" id="navbarNav"&gt;
              &lt;ul class="navbar-nav"&gt;
              &lt;li class="nav-item"&gt;
              &lt;a class="nav-link active navtext" aria-current="page" href="#"&gt;Home&lt;/a&gt;
              &lt;/li>
              &lt;li class="nav-item"&gt;
              &lt;a class="nav-link navtext" href="#"&gt;Project&lt;/a&gt;
              &lt;/li>
              &lt;li class="nav-item"&gt;
              &lt;a class="nav-link navtext" href="#"&gt;Resume&lt;/a&gt;
              &lt;/li>
              &lt;li class="nav-item"&gt;
              &lt;a class="nav-link navtext" href="#"&gt;Contact&lt;/a&gt;
              &lt;/li&gt;               
              &lt;/ul&gt;
              &lt;/div&gt;
              &lt;/div&gt;
              &lt;/nav&gt;
          </code>
      </pre><!-- Code example -->


  </div>      <!-- Content  -->
</div><!-- Row  -->
</div><!-- Container -->
</div>
<script src="../js/prism.js"></script> 
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>